@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7; }

header {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  margin: 0;
  margin-left: 8px;
  height: 10vh;
  width: 99%;
  font-size: 12px;
  font-family: sans-serif;
  text-align: left;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: #666666;
  z-index: 3; }

.logo {
  display: flex;
  position: absolute;
  width: 20px;
  height: 100%;
  top: -3px;
  align-content: center; }

/* Estilos para la lista de índice */
.index {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 70px;
  gap: 10px;
  list-style: none;
  font-size: 1rem;
  z-index: 2; }
  .index li {
    margin-top: -7px;
    padding-left: 20px;
    color: #000; }
    .index li a {
      text-decoration: none;
      color: #000; }

.login {
  flex-direction: row-reverse;
  position: absolute;
  right: 2%;
  top: 40%;
  font-size: 1rem;
  z-index: 2; }
  .login a {
    text-decoration: none;
    color: #000;
    margin-left: .625rem; }

.descubri {
  padding-bottom: 5%; }

.nov-text {
  color: #000;
  top: 110%;
  z-index: 3; }

.descubri img {
  width: 99vw;
  border-radius: 0 0 30px 30px;
  gap: 30px;
  margin-top: -10%;
  z-index: 1; }

.descubri h1,
h2, h3 {
  position: absolute;
  font-size: 3.4375rem;
  font-family: sans-serif;
  color: #FFFFFF;
  top: 15%;
  margin-left: 10px;
  z-index: 3; }

.descubri h2 {
  padding-left: 430px;
  background: #ff9e00;
  background: linear-gradient(90deg, #ff9e00 64%, #e7dc31 78%, #edf12c 89%, #3af121 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.descubri h3 {
  position: absolute;
  margin-top: 60px; }

.novedades {
  display: grid;
  top: 10px;
  width: 100%;
  height: 800px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas: "img1 img1 img1 img2 img2" "img1 img1 img1 img3 img3"; }

.lolla {
  grid-area: img1;
  width: 100%; }
  .lolla h2 {
    z-index: 3; }

.sza {
  grid-area: img2;
  width: 100%;
  border-radius: 30px;
  margin-left: -63%; }

.sam-smith {
  grid-area: img3;
  width: 100%;
  border-radius: 30px; }

.lolla h2 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  top: 215%;
  align-content: space-around;
  background: linear-gradient(to bottom, transparent, black);
  border-radius: 10px; }

.lolla img {
  width: 100%;
  height: 100%;
  border-radius: 30px; }

.sza img {
  width: 100%;
  height: 100%;
  border-radius: 30px; }

.sza h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  top: 165%;
  left: 62%;
  align-content: space-around;
  background: linear-gradient(to bottom, transparent, black);
  border-radius: 10px; }

.sam-smith img {
  width: 100%;
  height: 100%;
  border-radius: 30px; }

.sam-smith h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  top: 223%;
  left: 62%;
  align-content: space-around;
  background: linear-gradient(to bottom, transparent, black);
  border-radius: 10px; }

.explore img {
  width: 99vw;
  height: 100vh;
  border-radius: 0 0 30px 30px;
  margin-top: -23%;
  z-index: 1; }

.explore h2 {
  width: 100%;
  font-size: 200px;
  top: 33%;
  background: #ff9e00;
  background: linear-gradient(90deg, #ff9e00 14%, #7b00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.text {
  padding: 10px;
  padding-bottom: 10%;
  font-size: 20px;
  font-family: poppins;
  margin-left: 5px;
  text-align: justify;
  width: 98%; }

.novedades1 {
  display: grid;
  top: 10px;
  width: 100%;
  height: 800px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas: "img1 img1 img1 img2 img2" "img1 img1 img1 img3 img3"; }

.nov-text1 {
  color: #000;
  top: 98%;
  z-index: 3; }

.lolla1 {
  grid-area: img1;
  width: 100%; }
  .lolla1 h2 {
    z-index: 3; }

.sza1 {
  grid-area: img2;
  width: 100%;
  border-radius: 30px; }

.sam-smith1 {
  grid-area: img3;
  width: 100%;
  border-radius: 30px; }

.lolla1 h2 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  top: 205%;
  align-content: space-around;
  background: linear-gradient(to bottom, transparent, black);
  border-radius: 10px; }

.lolla1 img {
  width: 100%;
  height: 100%;
  border-radius: 30px; }

.sza1 img {
  width: 100%;
  height: 100%;
  border-radius: 30px; }

.sza1 h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  top: 155%;
  left: 62%;
  align-content: space-around;
  background: linear-gradient(to bottom, transparent, black);
  border-radius: 10px; }

.sam-smith1 img {
  width: 100%;
  height: 100%;
  border-radius: 30px; }

.sam-smith1 h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  top: 213%;
  left: 62%;
  align-content: space-around;
  background: linear-gradient(to bottom, transparent, black);
  border-radius: 10px; }

.portada h1 {
  position: absolute;
  font-size: 70px;
  top: 60%;
  left: 2%;
  color: #FFFFFF;
  z-index: 3; }

.portada img {
  width: 99vw;
  height: 100%;
  border-radius: 0 0 30px 30px;
  margin-top: -95%;
  z-index: 1; }

.vibraciones h3 {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: #000;
  top: 75%;
  margin-left: 40px; }

.vibraciones p {
  display: flex;
  padding-top: 3%;
  margin-left: 40px;
  margin-right: 40px;
  font-family: poppins;
  text-align: justify;
  font-size: 22px; }

.dias img {
  display: flex;
  flex-direction: row-reverse;
  width: 700px;
  height: 100%;
  border-radius: 40px;
  margin-left: 60%; }

.tres-dias h3 {
  display: flex;
  flex-direction: row;
  font-size: 27px;
  color: #000;
  top: 124%;
  margin-left: 40px; }

.tres-dias p {
  display: flex;
  flex-direction: row;
  color: #000;
  margin-top: -45%;
  margin-left: 40px;
  margin-bottom: 10%;
  font-family: poppins;
  text-align: justify;
  font-size: 22px;
  width: 1000px;
  z-index: 3; }

.dia-uno h3 {
  font-size: 27px;
  color: #000;
  top: 145%;
  margin-left: 40px; }

.dia-uno p {
  color: #000;
  margin-top: -6%;
  margin-left: 40px;
  margin-bottom: 10%;
  font-family: poppins;
  text-align: justify;
  font-size: 22px;
  width: 1000px;
  z-index: 3; }

.dia-dos h3 {
  font-size: 27px;
  color: #000;
  top: 173%;
  margin-left: 40px; }

.dia-dos p {
  color: #000;
  margin-top: -7%;
  margin-left: 40px;
  margin-bottom: 10%;
  font-family: poppins;
  text-align: justify;
  font-size: 22px;
  width: 1000px;
  z-index: 3; }

.dia-tres h3 {
  font-size: 27px;
  color: #000;
  top: 201%;
  margin-left: 40px; }

.dia-tres p {
  color: #000;
  margin-top: -6%;
  margin-left: 40px;
  margin-bottom: 10%;
  font-family: poppins;
  text-align: justify;
  font-size: 22px;
  width: 1000px;
  z-index: 3; }

.portada-sam h2 {
  position: absolute;
  font-size: 10rem;
  top: 70%;
  left: 2%;
  color: #FFFFFF;
  z-index: 3; }

.portada-sam img {
  width: 99vw;
  height: 100%;
  border-radius: 0 0 30px 30px;
  margin-top: -50%;
  z-index: 1; }

.sam-regresa img {
  width: 800px;
  height: 800px;
  margin-left: 53%;
  margin-top: 2%; }

.sam-regresa h3 {
  font-size: 27px;
  color: #000;
  top: 103%;
  width: 850px;
  margin-left: 40px; }

.sam-regresa p {
  color: #000;
  margin-top: -40%;
  margin-left: 40px;
  margin-bottom: 10%;
  font-family: poppins;
  text-align: justify;
  font-size: 22px;
  width: 850px;
  z-index: 3; }

.la-voz h3 {
  font-size: 27px;
  color: #000;
  top: 195%;
  width: 850px;
  margin-left: 40px; }

.la-voz p {
  color: #000;
  margin-top: -6%;
  margin-left: 40px;
  margin-bottom: 10%;
  font-family: poppins;
  text-align: justify;
  font-size: 22px;
  width: 96%;
  z-index: 3; }

.portada-sza h2 {
  position: absolute;
  font-size: 10rem;
  top: 66%;
  left: 2%;
  color: #FFFFFF;
  z-index: 3; }

.portada-sza img {
  width: 99vw;
  height: 100%;
  border-radius: 0 0 30px 30px;
  margin-top: -50%;
  z-index: 1; }

.sza img {
  width: 600px;
  height: 600px;
  margin-left: 63%;
  margin-top: 2%; }

.sza p {
  color: #000;
  margin-top: -34%;
  margin-left: 40px;
  margin-bottom: 10%;
  font-family: poppins;
  text-align: justify;
  font-size: 22px;
  width: 1000px;
  z-index: 3; }

.sza-deslumbra h3 {
  font-size: 27px;
  color: #000;
  top: 162%;
  width: 1000px;
  margin-left: 40px; }

.sza-deslumbra p {
  color: #000;
  margin-top: -3%;
  margin-left: 40px;
  margin-bottom: 10%;
  font-family: poppins;
  text-align: justify;
  font-size: 22px;
  width: 94%;
  z-index: 3; }

.fondo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  z-index: 1; }

.logo-vinyl {
  display: flex;
  flex-direction: row;
  margin-top: -55%;
  margin-left: 40%;
  z-index: 3; }
  .logo-vinyl img {
    width: 150px;
    height: 150px; }

.logo-vinyl h1 {
  font-size: 6rem;
  margin-top: 2%;
  color: #f7f7f7; }

.container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

form {
  display: inline-block;
  text-align: left;
  margin-left: 4%; }

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="name"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; }

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #45a049; }

a {
  color: #4CAF50;
  text-decoration: none;
  margin-right: 10px; }

a:hover {
  text-decoration: underline; }

#lower {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.check {
  font-weight: normal;
  margin-left: 5px; }

.footer-footer-more {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  width: 100%;
  align-items: flex-start;
  align-content: center;
  gap: 11.24px;
  padding: 46.1px 111.31px;
  position: relative;
  background-color: #C0C0C0;
  border: 1px solid;
  border-color: transparent; }

.footer-footer-more .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 39.98px;
  position: relative;
  flex: 0 0 auto; }

.footer-footer-more .divider {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #66666640; }

.footer-footer-more .div {
  display: inline-flex;
  align-items: flex-start;
  gap: 154.91px;
  position: relative;
  flex: 0 0 auto; }

.footer-footer-more .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 63.96px;
  position: relative;
  flex: 0 0 auto; }

.footer-footer-more .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto; }

.footer-footer-more .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal; }

.footer-footer-more .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal; }

.footer-footer-more .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal; }

.footer-footer-more .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal; }

.footer-footer-more .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 15.99px;
  position: relative;
  flex: 0 0 auto;
  color: none; }

.footer-footer-more .img {
  position: relative;
  width: 179.9px;
  height: 51.97px; }

.footer-footer-more .frame-5 {
  position: relative;
  width: 1130.36px;
  height: 23.99px; }

.footer-footer-more .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 55.97px;
  position: absolute;
  top: 1px;
  left: 0; }

.footer-footer-more .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal; }

.footer-footer-more .links {
  display: inline-flex;
  align-items: flex-start;
  gap: 23.99px;
  position: relative;
  flex: 0 0 auto; }

.footer-footer-more .frame-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 39.98px;
  position: absolute;
  top: 0;
  left: 781px; }

.footer-footer-more .frame-8 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15.99px;
  position: relative;
  flex: 0 0 auto; }

.footer-footer-more .img-2 {
  position: relative;
  width: 23.99px;
  height: 23.99px; }

.footer-footer-more .social-media-logo {
  position: relative;
  width: 19.99px;
  height: 19.99px; }

.footer-footer-more .dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 0px 0px 0px 8px;
  position: relative;
  flex: 0 0 auto; }
