* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 98vw;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
    overflow-y: auto;
}

nav label input {
    display: none;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    margin: 0;
    margin-left: 8px;
    height: 10vh;
    width: 99%;
    font-size: 12px;
    font-family:sans-serif;
    text-align: left;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: #666666;
    z-index: 3;
    
}

.logo {
    display: flex;
    position: absolute;
    width: 20px;
    height: 100%;
    top: -3px;
    align-content: center;
}
/* Estilos para la lista de índice */
.index {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 70px;
    gap: 10px;
    list-style: none;
    font-size: 1rem;
    z-index: 2;
    li {
        margin-top: -7px;
        padding-left: 20px;
        color: #000;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}
.login {
    flex-direction: row-reverse;
    position: absolute;
    right: 2%;
    top: 40%;
    font-size: 1rem;
    z-index: 2;
    a {
        text-decoration: none;
        color:#000;
        margin-left: .625rem;
    }
}
.descubri {
    padding-bottom: 5%;
}

.nov-text {
    color: #000;
    top: 105%;
    z-index: 3;
}


.descubri img{
    width: 99vw;
    border-radius: 0 0 30px 30px;
    gap: 30px;
    margin-top: -10%;
    z-index: 1;
}

.descubri h1,
h2, h3 {
    position: absolute;
    font-size: 3.4375rem;
    font-family:sans-serif;
    color:#FFFFFF;
    top: 15%;
    margin-left: 10px;
    z-index: 3;
}

.descubri h2 {
    padding-left: 430px;
    background: rgb(255,158,0);
    background: linear-gradient(90deg, rgba(255,158,0,1) 64%, rgba(231,220,49,1) 78%, rgba(237,241,44,1) 89%, rgba(58,241,33,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.descubri h3 {
    position: absolute;
    margin-top: 60px;
}

.novedades {
    display: grid;
    top: 10px;
    width: 100%;
    height: 800px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: 
    "img1 img1 img1 img2 img2"
    "img1 img1 img1 img3 img3";
}


.lolla {
    grid-area: img1;
    width: 100%;
    h2 {
        z-index: 3;
    }
}
.sza {
    grid-area: img2;
    width: 30%;
    border-radius: 30px;
    margin-left: -70%;
}
.sam-smith {
    grid-area: img3;
    width: 100%;
    border-radius: 30px;
}

.lolla h2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    top: 90.625rem;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.lolla img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sza img {
    width: 100%;
    height: 50%;
    border-radius: 30px;
}

.sza h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    top: 162%;
    left: 62%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.sam-smith img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sam-smith h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    top: 219%;
    left: 62%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.explore img {
    width: 98vw;
    height: 100vh;
    border-radius: 0 0 30px 30px;
    margin-top: -23%;
    z-index: 1;
}

.explore h2 {
    width: 100%;
    font-size: 10rem;
    top: 33%;
    background: rgb(255,158,0);
    background: linear-gradient(90deg, rgba(255,158,0,1) 14%, rgba(123,0,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    padding: 10px;
    padding-bottom: 10%;
    font-size: 20px;
    font-family: poppins;
    margin-left: 5px;
    text-align: justify;
    width: 98%;
}

.novedades1 {
    display: grid;
    margin-top: -25px;
    width: 98%;
    height: 800px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    grid-template-areas: 
    "img1 img1 img1 img2 img2"
    "img1 img1 img1 img3 img3";
}

.nov-text1 {
    color: #000;
    top: 100%;
    z-index: 3;
}


.lolla1 {
    grid-area: img1;
    width: 100%;
    h2 {
        z-index: 3;
    }
}
.sza1 {
    grid-area: img2;
    width: 100%;
    border-radius: 30px;
}
.sam-smith1 {
    grid-area: img3;
    width: 100%;
    border-radius: 30px;
}

.lolla1 h2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    top: 205%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.lolla1 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sza1 img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sza1 h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    top: 155%;
    left: 62%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.sam-smith1 img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sam-smith1 h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    top: 213%;
    left: 62%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.portada h1 {
    position: absolute;
    font-size: 70px;
    top: 60%;
    left: 2%;
    color:#FFFFFF;
    z-index: 3;
}


.portada img {
    width: 99vw;
    height: 100%;
    border-radius: 0 0 30px 30px;
    margin-top: -23%;
    z-index: 1;
}

.vibraciones h3 {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    color: #000;
    top: 75%;
    margin-left: 40px;
}

.vibraciones p {
    display: flex;
    padding-top: 4%;
    margin-left: 40px;
    margin-right: 40px;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
}

.dias img {
    display: flex;
    flex-direction: row-reverse;
    width: 700px;
    height: 100%;
    border-radius: 40px;
    margin-left: 50%;
}

.tres-dias h3 {
    display: flex;
    flex-direction: row;
    font-size: 27px;
    color: #000;
    top: 150%;
    margin-left: 40px;
    width: 700px;
}

.tres-dias p {
    display: flex;
    flex-direction: row;
    color: #000;
    margin-top: -55%;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 650px;
    z-index: 3;
}

.dia-uno h3 {
    font-size: 27px;
    color: #000;
    top: 180%;
    margin-left: 40px;
    width: 700px;
}

.dia-uno p {
    color: #000;
    margin-top: -4%;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 650px;
    z-index: 3;
}

.dia-dos h3 {
    font-size: 27px;
    color: #000;
    top: 230%;
    margin-left: 40px;
}

.dia-dos p {
    color: #000;
    margin-top: -7%;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 650px;
    z-index: 3;
}

.dia-tres h3 {
    font-size: 27px;
    color: #000;
    top: 275%;
    margin-left: 40px;
}

.dia-tres p {
    color: #000;
    margin-top: -6%;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 1350px;
    z-index: 3;
}

.portada-sam h2 {
    position: absolute;
    font-size: 10rem;
    top: 70%;
    left: 2%;
    color:#FFFFFF;
    z-index: 3;
}


.portada-sam img {
    width: 99vw;
    height: 100%;
    border-radius: 0 0 30px 30px;
    margin-top: -50%;
    z-index: 1;
}

.sam-regresa img {
    width: 500px;
    height: 500px;
    margin-left: 63%;
    margin-top: -10%;
}

.sam-regresa h3 {
    font-size: 27px;
    color: #000;
    top: 103%;
    width: 850px;
    margin-left: 40px;
}

.sam-regresa p {
    color: #000;
    margin-top: 8%;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 1350px;
    z-index: 3;
}

.la-voz h3 {
    font-size: 27px;
    color: #000;
    top: 185%;
    width: 850px;
    margin-left: 40px;
}

.la-voz p {
    color: #000;
    margin-top: -30%;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 750px;
    z-index: 3;
}
.large {
    color: #000;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 1350px;
    z-index: 3;
}

.portada-sza h2 {
    position: absolute;
    font-size: 12rem;
    top: 60%;
    left: 2%;
    color:#FFFFFF;
    z-index: 3;
}


.portada-sza img {
    width: 99vw;
    height: 100%;
    border-radius: 0 0 30px 30px;
    margin-top: -50%;
    z-index: 1;
}

.sza img {
    width: 400px;
    height: 400px;
    margin-top: 3%;
    margin-left: 460%;
}

.sza p {
    color: #000;
    margin-top: -94%;
    margin-left: 240%;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 900px;
    z-index: 3;
}
.sza-large {
    color: #000;
    margin-top: 300%;
    margin-left: -525%;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 1350px;
    z-index: 3;
}

.sza-deslumbra h3 {
    font-size: 27px;
    color: #000;
    top: 184%;
    width: 1000px;
    margin-left: 40px;
}

.sza-deslumbra p {
    color: #000;
    margin-top: -5%;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 94%;
    z-index: 3;
}
.large-sza {
    color: #000;
    margin-top: -10%;
    margin-left: 40px;
    margin-bottom: 10%;
    font-family: poppins;
    text-align: justify;
    font-size: 22px;
    width: 94%;
    z-index: 3;
}


.fondo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.logo-vinyl {
    display: flex;
    flex-direction: row;
    margin-top: -55%;
    margin-left: 40%;
    z-index: 3;
    img {
        width: 150px;
        height: 150px;
    }
}

.logo-vinyl h1 {
    font-size: 6rem;
    margin-top: 2%;
    color: #f7f7f7;

}

.container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: inline-block;
    text-align: left;
    margin-left: 4%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="name"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #2D69E8;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

#lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check {
    font-weight: normal;
    margin-left: 5px;
}

footer {
    position: absolute;
    background: #ffffff;
    width: 100vw;
    margin-bottom: 0;
    left: 0;
}
.logo_name img{
    width: 60px;
    height: auto;
}
footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}
footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}
footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content .top .logo-details {
    color: #000000;
    font-size: 30px;
}
footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}
.content .link-boxes {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}
footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    opacity: 0.8;
    text-decoration: none;
}
.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}
.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px){
footer .content .link-boxes {
    flex-wrap: wrap;
}
footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
}
header label input {
    display: none;
}
}

@media (max-width: 768px) {
    header {
        width: 100vw;
        height: 9vh;
        font-size: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        width: 15px;
    }

    .index {
        left: 55px;
        gap: 5px;
        font-size: 0.8rem;
    }

    .index li {
        padding-left: 10px;
    }

    .login {
        right: 10px;
        font-size: 0.8rem;
        margin-top: -2px;
    }

    .login a {
        margin-left: 0.4rem;
    }

    .descubri img {
        width: 100vw;
    }

    .descubri h1,
    .descubri h2,
    .descubri h3 {
        font-size: 1.6rem;
    }

    .descubri h2 {
        padding-left: 200px;
    }

    .novedades {
        display: grid;
        width: 100%;
        height: 300px;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "img1 img1"
            "img3 img2"
            ". .";
    }

    .nov-text {
        margin-left: 10px;
        font-size: 1.2rem;
        margin-top: -48%;
    }

    .lolla img {
        grid-area: img1;
        width: 98%;
        height: 300px;
        margin-left: 10px;
    }

    .lolla h2{
        top: 90%;
        left: 2%;
        font-size: 1.2rem;
    }

    .sza {
        grid-area: img2;
        width: 98%;
        height: 100%;
    }
    .img2 {
        width: 98%;
        margin-left: 40%;
    }
    .sza h2 {
        top: 120%;
        left: 50%;
        font-size: 1.2rem;
    }

    .sam-smith img {
        grid-area: img3;
        width: 98%;
        height: 100%;
        margin-left: 10px;
        height: 75%;
    }

    .sam-smith h2 {
        top: 120%;
        left: 10px;
        font-size: 1.2rem;
    }
    .explore img {
        width: 100vw;
        height: 500px;
    }
    .explore h2 {
        top: 40%;
        font-size: 3rem;
    }

    .novedades1 {
        width: 100%;
        height: 300px;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "img1 img1"
            "img3 img2"
            ". .";
    }

    .nov-text1 {
        top: 112%;
        font-size: 1.5rem;
    }

    .lolla1 img {
        grid-area: img1;
        width: 98%;
        height: 300px;
        margin-left: 10px;
    }

    .lolla1 h2{
        top: 140%;
        left: 2%;
        font-size: 2.2rem;
    }

    .sza1 {
        grid-area: img2;
        width: 98%;
        height: 100%;
        margin-left: -40%;
    }

    .sza1 h2 {
        top: 185%;
        left: 50%;
        font-size: 2.2rem;
    }

    .sam-smith1 img {
        grid-area: img3;
        width: 98%;
        height: 300px;
        margin-left: 10px;
    }

    .sam-smith1 h2 {
        top: 185%;
        left: 10px;
        font-size: 2.2rem;
    }

    .portada h1 {
        top: 30%;
        width: 100%;
        font-size: 2rem;
    }


    .vibraciones h3 {
        top: 41%;
        width: 100%;
        font-size: 1rem;
    }
    .tres-dias h3 {
        font-size: 1rem;
        top: 70%;
        width:300px;
    }
    .dia-uno h3 {
        top: 85%;
        width: 300px;
        font-size: 1rem;
    }
    .dia-dos h3 {
        top: 107%;
        width: 300px;
        font-size: 1rem;
    }
    .dia-tres h3 {
        top: 128%;
        width: 300px;
        font-size: 1rem;
    }
    .sam-regresa h3 {
        top: 55%;
        width: 95%;
        font-size: 1.5rem;
    }
    .la-voz h3 {
        top: 125%;
        width: 300px;
        font-size: 1.5rem;
    }
    .sza-deslumbra h3 {
        margin-top: -95%;
        margin-left: 3%;
        width: 600px;
        font-size: 1rem;
    }

    
    .vibraciones p {
        margin-top: 10px;
        font-size: .625rem;
        width: 90%;
    }
    .tres-dias p {
        margin-top: -55%;
        font-size: .625rem;
        width: 295px;
    }
    .dia-uno p {
        margin-top: -2%;
        font-size: .625rem;
        width: 295px;
    }
    .dia-dos p {
        margin-top: -4%;
        font-size: .625rem;
        width: 295px;
    }
    .dia-tres p {
        margin-top: -4%;
        font-size: .625rem;
        width: 680px;
    }
    .sam-regresa p{
        display: flex;
        margin-top: 6rem;
        font-size: 1rem;
        width: 90%;
    }
    .la-voz p {
        display: flex;
        margin-top: -24rem;
        font-size: 1rem;
        width: 18.75rem;
    }
    .large{
        margin-top: -7%;
        margin-left: 40px;
        text-align: justify;
        font-size: 1rem;
        width: 90%; 
    }
    .sza p {
        margin-top: -110%;
        margin-left: 74%;
        font-size: 1rem;
        width: 720px;
    }
    .sza-deslumbra p {
        margin-top: -123%;
        margin-left: 3%;
        font-size: 1rem;
        width: 295px;
    }
    .large-sza {
        margin-top: -7%;
        margin-left: 20px;
        text-align: justify;
        font-size: 1rem;
        width: 90%;
    }


    .dias img {
        width: 50%;
        margin-left: 50%;
    }
    .portada img,
    .portada-sam img,
    .portada-sza img {
        width: 100vw;
    }
    .portada-sam h2,
    .portada-sza h2 {
        margin-top: -12.5rem;
        font-size: 3rem;
    }


    .sza img {
        width: 50%;
        height: auto;
        margin-left: 120%;
        margin-top: 50%;
    }
    .sam-regresa img {
        display: flex;
        flex-direction: inherit;
        width: 350px;
        height: 500px;
        margin-top: -5%;
        margin-left: 49%;
    }

    .logo-vinyl {
        margin-top: -100%;
        margin-left: 10%;
    }

    .logo-vinyl h1 {
        font-size: 2rem;
    }

    footer {
        position: relative;
        width: 100vw;
        margin-top: 150vh;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    body {
        overflow-x: hidden;
      }
      
    .descubri {
        width: 100vw;
        margin-top: -27px;
        h1,h2,h3 {
            font-size: 15px;
            margin-top: -30px;
        }
        h2 {
            padding-left: 7.5rem;
        }
        h3 {
            margin-top: -5px;
        }
    }

    .nov-text {
        top: 60vh;
    }
    
    .novedades {
        display: grid;
        width: 100%;
        height: 300px;
        margin-top: 5%;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "img1 img1"
            "img3 img3"
            "img2 img2";
        
        .lolla h2 {
            top: 65%;
        }
        .sam-smith h2 {
            top: 110%;
        }
        .sam-smith img {
            height: 100%;
        }
        .sza img {
            width: 100%;
            height: 100%;
            margin-left: 74%;
            margin-top: 5%;
        }
        .sza h2 {
            left: 10%;
            top: 140%
        }
    }

    .explore {
        img {
            width: 100vw;
        height: 30vh;
        }
        h2 {
            top: 17%;
        }

        .nov-text1 {
            top: 50vh;
        }
        
        .novedades1 {
            display: grid;
            width: 100%;
            height: 300px;
            margin-top: 10%;
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "img1 img1"
                "img2 img2"
                "img2 img2";
            
            .lolla1 h2 {
                top: 65%;
            }
            .sam-smith1 h2 {
                top: 80%;
            }
            .sza1 img {
                width: 100%;
                height: 100%;
                margin-left: 74%;
                margin-top: 5%;
            }
            .sza1 h2 {
                left: 10%;
                top: 120%
            }
        }
    }

    .portada {
        h1 {
            margin-top: -20%;
            font-size: 20px;
        }
    }
    .vibraciones{

        h3 {
            margin-top: -25%;
            font-size: 11px;
            margin-left: 25px;
        }
    }
    .vibraciones p {
        margin-top: 25px;
        margin-left: 25px;
    }
    .tres-dias h3 {
        font-size: 11px;
        margin-left: 25px;
        margin-top: 12%;
        width: 200px;
    }
    .tres-dias p {
        margin-left: 25px;
        width: 170px;
        margin-top: -52%;
    }
}
