$color_1: #000;
$color_2: #FFFFFF;
$color_3: #f7f7f7;
$color_4: white;
$color_5: #2D69E8;
$color_6: #000000;
$font-family_1: Arial, sans-serif;
$font-family_2: sans-serif;
$font-family_3: poppins;
$background-color_1: #f7f7f7;
$background-color_2: rgba(255, 255, 255, .15);
$background-color_3: #f5f5f5;
$background-color_4: #4CAF50;
$background-color_5: #45a049;