footer {
    position: absolute;
    background: #ffffff;
    width: 100vw;
    margin: 10% 0 0 0 ;
    margin-bottom: 0;
    left: 0;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: $color_6;
    opacity: 0.8;
    text-decoration: none;
}
.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}
.bottom-details .bottom_text a {
    margin-right: 10px;
}