.novedades {
    display: grid;
    top: 10px;
    width: 100%;
    height: 800px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: 
    "img1 img1 img1 img2 img2"
    "img1 img1 img1 img3 img3";
}


.lolla {
    grid-area: img1;
    width: 100%;
    h2 {
        z-index: 3;
    }
}
.sza {
    grid-area: img2;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-left: -450%;
}
.sam-smith {
    grid-area: img3;
    width: 100%;
    border-radius: 30px;
}

.lolla h2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    top: 90.625rem;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.lolla img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sza img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sza h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    top: 162%;
    left: 62%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.sam-smith img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sam-smith h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    top: 219%;
    left: 62%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}



.novedades1 {
    display: grid;
    margin-top: -25px;
    width: 98%;
    height: 800px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    grid-template-areas: 
    "img1 img1 img1 img2 img2"
    "img1 img1 img1 img3 img3";
}

.nov-text1 {
    color: $color_1;
    top: 100%;
    z-index: 3;
}


.lolla1 {
    grid-area: img1;
    width: 100%;
    h2 {
        z-index: 3;
    }
}
.sza1 {
    grid-area: img2;
    width: 100%;
    border-radius: 30px;
}
.sam-smith1 {
    grid-area: img3;
    width: 100%;
    border-radius: 30px;
}

.lolla1 h2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    top: 205%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.lolla1 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sza1 img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sza1 h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    top: 155%;
    left: 62%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}

.sam-smith1 img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sam-smith1 h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    top: 213%;
    left: 62%;
    align-content: space-around;
    background: linear-gradient(to bottom, transparent, black);
    border-radius: 10px;
}